body{
    background-image: url(./back.jpg);
}
h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
	color: blanchedalmond;
	margin: auto;
}
  

.header {
    background-color: #446084;
    margin-top: 0%;
    margin-left: 0px;
    margin-right: 0%;
    padding: 20px;
    vertical-align: middle;
}

div.top {
    display: inline;
}

a:hover {
    color: white;
}

.center {
	text-align: center;
}

.logo {
	display: inline;
	text-decoration: none;
	text-align: left;
    font-size: 30px;
    position: relative;
    color: rgb(133, 196, 207);
	margin-top: 0px;
	letter-spacing: 10px;
    font-family: Helvetica, Arial, sans-serif;
}

.logo-container {
    display: inline;
    vertical-align: middle;
}

.navbar {
    list-style: none;
    float: right;
    display: inline;
}

.navbar li {
    display: inline;
    padding: 20px;
}

.navbar li a {
    text-decoration: none;
    color: #fff;
}

.navbar li a:hover {
    color: rgb(53, 98, 109);
}


h2{
    color: blanchedalmond;
}
.one:hover{
    color: rgb(0, 0, 0);

}
.one{
    text-decoration: none;
    color: rgb(252, 252, 252);
}
.sports{
	margin: 10px;
	padding-left: 30px;
}